.login-container {
  width: 100vw;
  height: 100vh;
  .login-box {
    padding: 2rem;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    border-radius: 1rem;
    min-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 480px) {
  }
}
