<div class="container">
  <h1>Product Management</h1>
  <table class="table" *ngIf="products.length>0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brief</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i=index">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.brief}}</td>
        <td>{{product.description}}</td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>